<!-- @format -->

<nav class="dropdownmenu">
  <ul>
    <li><a href="/me/home">Home</a></li>
    <li>
      <a href="#">Category</a>
      <ul id="submenu">
        <li>
          <a href="">Cars</a>
        </li>
        <li>
          <a href="">Houses</a>
        </li>
        <li>
          <a href="">Gadgets</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <%if(signin) { %>
    <li>
      <a href="/me/signin">Sign In</a>
    </li>
    <% }%> <%if(signup) { %>
    <li><a href="/me/signup">Sign Up</a></li>
    <% }%> <%if(registered) { %>
    <li><a href="/product/add">Add product</a></li>
    <% } %>
  </ul>
</nav>
