<!-- @format -->

<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/home.css" />
<style>
  body {
    background-image: url(https://us.123rf.com/450wm/raccoondaydream/raccoondaydream1610/raccoondaydream161000043/raccoondaydream161000043.jpg?ver=6);
    background-repeat: no-repeat;
    background-size: 100%;
    background-clip: border-box;
  }
  h1 {
    text-align: center;
  }
</style>
<div class="main">
  <%- include('includes/nav.ejs') %>
  <br />
  <h1>Internal Server Error</h1>
</div>

<%-include('includes/end.ejs') %>
