<!-- @format -->

<!-- @format -->

<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/home.css" />
<style>
  body {
    background-image: url(https://previews.123rf.com/images/yupiramos/yupiramos1304/yupiramos130400910/19305892-404-error-road-signal-over-white-background-illustration.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-clip: border-box;
  }
  h1 {
    font-family: "Helvetica Neue", Helvetica, Arial;
    padding-top: 3rem;
  }
</style>
<div class="main">
  <%- include('includes/nav.ejs') %>
  <br />
  <div class="card">
    <img src="jeans3.jpg" alt="Denim Jeans" style="width: 100%" />
    <h1>Tailored Jeans</h1>
    <p class="price">$19.99</p>
    <p>Some text about the jeans..</p>
    <p><button>Add to Cart</button></p>
  </div>
</div>

<%-include('includes/end.ejs') %>
